a{
  text-decoration: none !important;
  color:#414141;
}
.container .content {
  max-width: 1080px;
  padding: 10px;
}
.text-primary{
  color: #2a6fdb !important;
}
.text-danger{
  color: #e74645 !important;
}
.text-warning{
  color: #f68a24 !important;
}
.btn-primary{
  background: #2a6fdb !important;
}
.btn-success{
  background: #309975 !important;
}
.btn-success-outlined{
  border: 2.35px solid #2a6fdb;
  background: white;
  color:#2a6fdb;
  font-weight: 500;
}
.btn-success-outlined:hover{
  background: #2a6fdb;
  color:whitesmoke;
}
.btn-delete{
  color: #e74645; 
}
.btn-delete:hover{
  background: #e74645; 
  color: whitesmoke;
}
.btn-add-new{
  border: none;
  background: transparent;
  color:#309975;
  font-size: 14px;
  margin-inline:10px;
  cursor:pointer;
  text-decoration: none;
}
.btn-reset{
  border: none;
  background: transparent;
  color:#e74645;
  font-size: 14px;
  margin-inline:10px;
  cursor:pointer;
  text-decoration: none;
}
.form-control{
  border-radius: 15px !important;
}
textarea.edit{
  background: #f0f1f5 !important;
  border-radius: 6px;
  padding: 8px;
}
input.edit{
  background: #f0f1f5 !important;
  border-radius: 6px;
  padding: 8px;
}
.form-control-custom-comment{
  border: 2px solid #f0f1f5;
  margin-inline: auto;
  margin:5px;
  display: block;
  text-align: left;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
}
.form-control-custom-comment:focus{
  outline: none;
  background: #f0f1f5 !important;
}
textarea {
  height: 100px !important;
}
.btn-icon, .btn-icon-comment, .btn-icon-delete{
  color: #808080 !important;
}
.btn-icon:hover{
  background: #2A6FD8 !important;
  color:white !important;
}
.btn-icon-comment:hover{
  background: #2A6FD8 !important;
  color:white !important;
}
.btn-icon-delete:hover{
  background: #e74645 !important;
  color:white !important;
}
.username{
  font-size: 14px;
  cursor: pointer;
  font-style: italic;  
}
.comment-date{
  font-size: 12px;
}
.comment-box:hover{
  background: #f0f1f5;
  border-radius:6px;
}
.profile-image-sm{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top:5px;
}
.text-empty{
  font-style: italic;
  color: #808080;
  font-size: 14px;
  text-align: center;
}
