.tasks-desc{
    color: #808080;
    font-size: 13.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.tasks-date{
    right: 10px;
    top: 20px;
    font-style: italic;
    font-size: 12px;
}
.tasks-icon-box{
    display: inline-block;
    border: none;
    padding-bottom: 4px;
    margin: 0px 3px 0px 0px;
    font-size: 13px;
    font-weight: 500;
}
.tasks-icon-box:hover{
    background: #2a6fdb;
    color: whitesmoke;
}

.text-participant{
    color:#2a6fdb;
}
.text-check{
    color:#309975;
}
.text-gift{
    color:#f68a24;
}
.text-optional{
    color:#9854cb;
}
.text-deadline{
    color:#e74645;
}
/*Button*/
.btn-more-content{
    border: none;
    display: block;
    margin-inline: auto;
    background: transparent;
    margin-top: 30px;
    font-weight: 500;
    color: #2a6fdb;
}
.btn-detail{
    text-decoration: none !important;
    border-radius: 6px;
    margin: 1.5px;
    padding: 5px;
}
.btn-check-detail{
    color: #212121 !important;
    font-size: 14px;
    list-style-image: none;
    list-style: none;
    list-style-type: none;
    padding: 3px 6px;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
}
.btn-check-detail.finish{
    text-decoration: line-through;
    color: grey !important;
}
.btn-check-detail:hover{
    background: #EAECF0;
}

.form-check-input{
    width: 20px;
    height: 20px;
}
.form-check-input:checked {
    background-color: green!important;
    border: none;
}
.edit_check_box{
    border: 1.5px solid #c7c9cc;
    border-radius: 8px;
    background: #EAECF0;
    position: relative;
}
.form-check-edit{
    border: none;
    background: none;
    font-size: 14px;
    border-bottom: 2px solid rgb(157, 157, 157);
}
.form-check-edit:focus{
    outline: none !important;
}
.btn-close-clps{
    color:#808080; 
    cursor: pointer;
}
.btn-close-clps:hover{
    color: #e74645;  
}
.btn-delete-check{
    color: #e74645;  
    padding: 5px 10px;
    right: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.btn-delete-check:hover{
    color: whitesmoke;
    background: #e74645;  
}

.tasks-img{
    width: 100%;
    border-radius: 10px;
    margin: 5px;
}
.content-item:active{
    z-index: 999;
}

/*Tasks box*/
.content #filters {
    list-style: none;
    margin-bottom: 10px;
}
.content #filters li {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 5px 5px;
    font-size: 15px;
    line-height: 1;
    padding: 7px 10px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.content #filters button:hover, .content #filters button.filter-active {
    color: #2a6fdb;
}