.form-control-custom-title{
    font-weight: 500;
    border: none;
    margin-inline: auto;
    display: block;
    text-align: center;
    width: 250px;
}
.form-control-custom-title:focus{
    outline: none;
    background: #f0f1f5 !important;
}
.tag-row{
    display: inline-block;
    float: left;
}
.btn-remove-tag{
    color: #e74645;
    margin-inline: 2px;
    border: none;
    background: none;
}
.btn-add-tag{
    margin-inline-start: 10px;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 13px;
    background: #309975 !important;
    color:white !important;
}
.btn-reset-date{
    border: none;
    background: none;
    width: 45px;
    color: #e74645;
}
.btn-delete-check{
    position: absolute;
    border: none;
    background: transparent;
    bottom:5px;
}
.form-reset-date{
    width: 45px;
}
.timepicker{
    width: 30%;
}
.input-tag{
    text-decoration: none;
    width: 100px;
    border: none;
    border-bottom: 2px solid rgb(157, 157, 157);
    border-radius: 6px;
    background: #f0f1f5;
}
.total-comment{
    font-weight: 500;
    color:grey;
    font-size: 13px;
    font-style: italic;
}

.reply-holder .reply-item {
    padding: 0 0 12px 12px;
    margin-top: -2px;
    border-left: 3px solid #2A6FD8;
    position: relative;
    margin-left:-25px;
}
.reply-holder .reply-item ul {
    padding-left: 12px;
}
.reply-holder .reply-item ul li {
    padding-bottom: 10px;
}
.reply-holder .reply-item:last-child {
    padding-bottom: 0;
}
.reply-holder .reply-item::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    left: -10px;
    top: 30%;
    background: white;
    border: 3px solid #2A6FD8;
}
.config-box-reply{
    position: absolute;
    right: 0px;
    top:15px;
}