.form-control-custom-title{
    font-weight: 500;
    border: none;
    margin-inline: auto;
    display: block;
    text-align: center;
    width: 250px;
}
.form-control-custom-title:focus{
    outline: none;
    background: #f0f1f5 !important;
}
.tag-row{
    display: inline-block;
    float: left;
}
.btn-remove-tag{
    color: #e74645;
    margin-inline: 2px;
    border: none;
    background: none;
}
.btn-add-tag{
    margin-inline-start: 10px;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 13px;
    background: #309975 !important;
    color:white !important;
}