.btn-archive-rel{
    border: none;
    border-radius: 5px;
    background: white;
    color: #212529;
}
.relation-holder .relation-item {
    padding: 0 0 12px 12px;
    bottom: -5px;
    margin-top: -10px;
    border-left: 3px solid #309975;
    position: relative;
    margin-left:15px;
}
.relation-holder .relation-item ul {
    padding-left: 12px;
}
.relation-holder .relation-item ul li {
    padding-bottom: 10px;
}
.relation-holder .relation-item:last-child {
    padding-bottom: 0;
}
.relation-holder .relation-item::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    left: -10px;
    top: 30%;
    background: #B8E0D2;
    border: 3px solid #309975;
}